{% extends "__base_template.html" %}

{% block content %}

<h1>О клубе Челси</h1>
<p><h5>Футбольный клуб «Че́лси»</h5> (англ. Chelsea F.C.; английское произношение: [ˈtʃɛlsiː]) — английский профессиональный футбольный клуб из западного Лондона. Основан в 1905 году, выступает в английской Премьер-лиге и провёл бо́льшую часть своей истории в высшем дивизионе английского футбола. Один из клубов-основателей английской Премьер-лиги в 1992 году[6]. «Челси» шесть раз становился чемпионом Англии, восемь раз выигрывал Кубок Англии и пять раз Кубок Футбольной лиги. Клуб добивался успеха на европейской арене, выиграв Лигу чемпионов УЕФА, дважды Кубок обладателей кубков УЕФА, Лигу Европы УЕФА и Суперкубок УЕФА. «Челси» является одним из пяти клубов, наряду с «Ювентусом», «Аяксом», «Баварией» и «Манчестер Юнайтед», который выиграл все три главных клубных турнира УЕФА, а также единственным клубом, владевшим двумя главными еврокубками одновременно.

Несмотря на своё название, клуб располагается не в районе Челси, а в соседнем Фулеме. Домашний стадион «Челси», «Стэмфорд Бридж», на котором клуб играет с момента основания, был открыт в 1877 году. Стадион занимает 9-е место по вместимости в Англии и вмещает 41 631 болельщика. Владельцем клуба со 2 июля 2003 года является российский бизнесмен Роман Абрамович.

На данный момент «Челси» занимает 8-е место в списке клубов с самыми высокими доходами. 8 июня 2017 года журнал Forbes оценил клуб в $1,845 млрд (£1,42 млрд).

Основная форма — синие футболки и трусы с белыми гетрами, подобная комбинация используется с 1960-х годов. Клубная эмблема несколько раз видоизменялась в попытках модернизации клубной символики; текущая эмблема, церемониальный синий лев, держащий посох, является модифицированной версией эмблемы, впервые принятой в 1953 году; данная версия эмблемы была принята в 2005 году. Клуб занимает пятое место по посещаемости домашнего стадиона за всё время участия в английском футболе. Средняя посещаемость домашних матчей в сезоне 2016/17 составила 41 528 человек, или 99,75 % от общего количества мест.

Главный тренер команды — итальянский специалист Маурицио Сарри, сменивший в июле 2018 года уволенного Антонио Конте. Капитаном команды является Сесар Аспиликуэта.
</p>

<h3>Больше информации можно узнать <a href="https://ru.wikipedia.org/wiki/%D0%A7%D0%B5%D0%BB%D1%81%D0%B8_(%D1%84%D1%83%D1%82%D0%B1%D0%BE%D0%BB%D1%8C%D0%BD%D1%8B%D0%B9_%D0%BA%D0%BB%D1%83%D0%B1)" class="btn btn-outline-info">здесь</a></h3>
{% endblock %}
