{% extends "__base_template.html" %}

{% block content %}
{% if news_list %}
{% for new in news_list %}
<div class="card" style="width: 18rem;">
  <img src='{{ new.picture }}' class="card-img-top" alt="">
  <div class="card-body">
    <h5 class="card-title">{{ new.title }}</h5>
    <p class="card-text">Нажмите посмотреть подробнее, если хотите прочитать новость</p>
    <a href="/news/{{ new.id }}" class="btn btn-primary">Посмотреть подробнее</a>
  </div>
    {% if auth_user and auth_user.id == 1 %}
    <a href="/news/delete/{{ new.id }}">Удалить</a>
    {% endif %}
</div>
{% endfor %}
{% else %}
Новостей пока нет
{% endif %}
{% if auth_user.id == 1 %}
<a href="/news/create" class="card-link">СОЗДАТЬ</a>
{% endif %}
{% endblock %}
