{% extends "__base_template.html" %}

{% block content %}
{% if news_list %}
<h1>Наши новости</h1>
{% for new in news_list %}
<div class="card" style="width: 18rem;">
  <img src='{{ new.picture }}' class="card-img-top" alt="">
  <div class="card-body">
    <h5 class="card-title">{{ new.title }}</h5>
    <p class="card-text">Нажмите посмотреть подробнее, если хотите прочитать новость</p>
    <a href="/news/{{ new.id }}" class="btn btn-primary">Посмотреть подробнее</a>
  </div>
    {% if auth_user and auth_user.id == 1 %}
    <a href="/news/delete/{{ new.id }}">Удалить</a>
    {% endif %}
  <div id="vk_post_-29320599_3311660"></div>
<script type="text/javascript" src="https://vk.com/js/api/openapi.js?160"></script>
<script type="text/javascript">
  (function() {
    VK.Widgets.Post("vk_post_-29320599_3311660", -29320599, 3311660, '5DBYhOq0LHaw0C0MW8RhBuGkGLX2');
  }());
</script>
</div>
{% endfor %}
{% else %}
<h1>Новостей пока нет</h1>
{% endif %}
{% if auth_user.id == 1 %}
<a href="/news/create" class="card-link">СОЗДАТЬ</a>
{% endif %}
{% endblock %}
