{% extends "__base_template.html" %}

{% block content %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ news.title }}</h5>
        <div class="card-text mb-1">
            {{ news.content }}
        </div>
        <img src="{{ news.picture }}" class="card-img-top" alt="...">
        <p>Количество просмотров: <img src="https://cdn.pixabay.com/photo/2015/12/22/04/00/eye-1103593_960_720.png" align="left" height="50" width="50"></p>
        <h3>  {{ news.viewers }}  </h3>
        {% if user %}
        Автор: {{ user.username }}
        {% endif %}

    </div>
</div>
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Комментарии
        {% if auth_user.id %}
        <a href="/news/{{ news.id }}/comment" class="btn btn-outline-primary">Комментировать</a></h4>
        {% endif %}
        {% if comments_list %}
        <ul class="card-text">
            {% for comment in comments_list %}
            <li><h5>{{ comment.title }}</h5>
                <em>
                    {{ comment.content }}</em>
                {% if auth_user.id == 1 %}
                (<a href="/comment/delete/{{ comment.id }}">удалить</a>)
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        {% else %}
        Нет комментариев
        {% endif %}
    </div>
</div>

{% endblock %}

