{% extends "__base_template.html" %}

{% block content %}

<h1>Рад тебя здесь увидеть. Выбери товары</h1>
<form
        action="/shop"
        method="post"
        enctype="multipart/form-data"
        class="card"
>
    <div class="card-body">
        <div class="form-group">
            <label for="{{ form.scarves.id }}">{{ form.scarves.label }}</label>
            {{ form.scarves(class_="form-control") }}
            <img src="https://besplatka.ua/aws/31/23/69/43/sharf-trikotazhnyi-chelsea-football-club-chelsi-photo-61b0.jpg">
        </div>
        <div class="form-group">
            <label for="{{ form.hat.id }}">{{ form.hat.label }}</label>
            {{ form.hat(class_="form-control") }}
            <img src="http://www.mmsport.ru/media/catalog/product/cache/3/image/9df78eab33525d08d6e5fb8d27136e95/a/9/a98712-chelsea-woolie-blue.jpg">
        </div>
        {{ form.submit(class_="btn btn-primary") }}
    </div>
</form>
{% endblock %}
